# ===============================
# CONFIGURACION GENERAL DEL SITIO
# ===============================

PORT=3000

APP_USER=admin
APP_PASSWORD=Simi2026
APP_TOKEN=123456
SESSION_SECRET=cambia_esta_clave_por_una_mas_segura

# ===============================
# CONEXION A AWS RDS POSTGRESQL
# ===============================

DB_HOST=endpoint-rds-postgresql.amazonaws.com
DB_PORT=5432
DB_NAME=simi_erp
DB_USER=simi_user
DB_PASSWORD=SimiSecurePassword2026##
DB_SSL=false

# ===============================
# BACKUPS HACIA AWS S3
# ===============================

S3_BACKUP_BUCKET=simi-erp-backups-eva3
S3_BACKUP_PREFIX=backups-rds
AWS_REGION=us-east-1